.product-card {
    text-align: center;
    position: relative;
}
.product-wishlist-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 999rem;
    cursor: pointer;
    background-color: white;
}
.icon-selected {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
        color: red;
}
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 1rem 0 0 0 ;
}
.products-number-title {
    padding: 1rem 0 0 0;
    /* font-weight: bold; */
    text-align: center;
}
.product-img {
    width: 95%;
    height: 10rem;
    background-color: rgb(223, 223, 223);
}
.card-button {
    width: 80%;
}
.added-cart-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    width: 90%;
    align-items: center;
    margin: auto;
}
.quantity-btn {
    padding: 0.5rem;
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    color:#333;
    font-size: 0.5rem;

}
@media only screen and (min-width:620px){
    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media only screen and (min-width:870px){
    .product-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90%;
        margin: auto;
        
    }
}
@media only screen and (min-width:1220px){
    .product-container-main {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1rem;
    }
    .card-button {
        width: 90%;
    }
    .product-container {
        width: 100%;
        
    }
    .product-img {
        height: 15rem;
      
    }
}