a {
    text-decoration: none;
    color: inherit;
  }
  .btn {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .i-text {
    border-radius: 0.31rem;
    padding: 0.5rem 0 0.5rem 1rem;

  }
  .navbar-input-search {
    min-width: 31rem;
    padding-left: 3rem;
  }
  .navbar {
    width: 90%;
    margin: auto;
    background-color: transparent;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
  
  .navbar-logo {
    display: flex;
    align-items: baseline;
    color: var(--primary-color-main);
    padding: 0 0.5rem 0 0;
  }
  .navbar-search {
    position: relative;
    display: none;
  }
  .nav-icon-wishlist {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    cursor: pointer;
  }
  .navbar-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .nav-icon {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    cursor: pointer;
    display: none;
    
  }
  .wish-list {
    position: relative;
  }
  .cart-icon {
    position: relative;
  }
  .wish-counter {
    padding: 0.3rem;
    font-size: 0.7rem;
    line-height:0.7rem;
    background-color: red;
    color: white;
    border-radius:50%;
    position: absolute;
    top: -13px;
    right: 0;
  }
  .nav-logo {
    padding: 0 0.5rem 0 0;
    font-size: 1.5rem;
  }
  .search-icon {
    position: absolute;
    top: 30%;
    left: 1rem;
    color: inherit;
  }
  .primary {
    background-color: var(--primary-color-main);
  }
  
  .page-links {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }
  @media only screen and (min-width: 470px) {
    .btn {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
    .nav-icon {
      display: inline-block;
    }
  
    .navbar-logo {
      font-size: 1.1rem;
      padding: 0 0.5rem 0 0;
    }
    .nav-logo {
      font-size: 1.6rem;
    }
  }
  @media only screen and (min-width: 570px) {
    .btn {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  
    .navbar-logo {
      font-size: 1.2rem;
      padding: 0 0.5rem 0 0;
    }
    .nav-logo {
      font-size: 1.7rem;
    }
    .page-links {
      font-size: 1.2rem;
    }
  }
  @media only screen and (min-width: 670px) {
    .btn {
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
    }
  
    .navbar-logo {
      font-size: 1.3rem;
      padding: 0 0.5rem 0 0;
    }
  }
  @media only screen and (min-width: 850px) {
    .btn {
      padding: 0.5rem 1.3rem;
    }
    .navbar {
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .navbar {
      width: 80%;
    }
    .navbar-search {
      display: inline-block;
    }
  }
  /* /nav bar css ends here */